/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@font-face {
    font-family: "Fraktion";
    src: url("fonts/PPFraktionMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Fraktion";
    src: url("fonts/PPFraktionMono-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

/* Global */
html {
    min-height: 100%;
    box-sizing: content-box;
}

body {
    height: calc(100vh - 14em);
    padding: 6em;
    color: rgba(255, 255, 255, .75);
    font-family: "Poppins", sans-serif;
    background-color: rgb(25, 25, 25);
    display: grid;
    place-items: center start;
    font-size: 28px;
    /* text-transform: uppercase;
    font-weight: 700; */
}

.typewriter {
    font-family: "Fraktion", sans-serif;
    line-height: 2;
}

#cursor {
    margin: 0;
    display: inline-block;
    border-right: 2px solid rgba(255,255,255,.75);
}

button {
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    background: #47cf73;
    color: #333;
    padding: 16px;
    font-weight: 600;
    border: none;
    font-family: "Poppins", sans-serif;
}