/* Fonts */
@font-face {
    font-family: "Fraktion";
    src: url("../fonts/PPFraktionMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fraktion";
    src: url("../fonts/PPFraktionMono-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

/* Global */
html {
    min-height: 100%;
    box-sizing: content-box;
}

body {
    height: calc(100vh - 14em);
    color: rgba(255, 255, 255, .75);
    background-color: #171717;
    font-size: 28px;
    padding: 6em;
}

button {
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    background: #47cf73;
    color: #333;
    padding: 16px;
    margin-top: 100px;
    font-weight: 600;
    border: none;
    font-family: 'Fraktion', monospace;
}

img {
    max-width: 25%;
}

.hidden {
    display: none;
}

/* Typography */
h1 {
    text-transform: lowercase;
    -webkit-text-stroke: 4px white;
}

h1 span {
    margin-left: 10px;
    -webkit-text-stroke: 6px white;
}

p {
    margin: 0 0 0.5em;
    padding: 0;
}

/* Header */
header {
    margin-bottom: 100px;
}

/* Typewriter Effect */
.typewriter {
    font-family: "Fraktion", sans-serif;
    line-height: 2;
}

.cursor {
    margin: 0;
    display: inline-block;
    width: 30px;
    border-bottom: 4px solid rgba(0, 200, 20, .75);
}

/* Comments Typewriter */

.comments p {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2em;
}

.emphasis {
    color: orange;
    font-size: 2em;
}