/* Variables */

:root {
    --green: #008f11;
    --light-green: #47cf73;
    --white: #fffff0;
    --black: #171717;
  }

/* Fonts */
@font-face {
    font-family: "Fraktion";
    src: url("../fonts/PPFraktionMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fraktion";
    src: url("../fonts/PPFraktionMono-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

/* Global */
html {
    min-height: 100%;
    box-sizing: content-box;
}

body {
    height: calc(100vh - 14em);
    color: var(--white);
    background-color: var(--black);
    font-size: 28px;
    /* padding: 3em 4em; */
    font-family: "Poppins", sans-serif;
}

button {
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    background: var(--light-green);
    color: #333;
    padding: 16px;
    margin: 3em 0;
    font-weight: 600;
    border: none;
    font-family: 'Fraktion', monospace;
    position: fixed;
    bottom: 0;
    z-index: 999;
}

.hidden {
    display: none;
}

/* Typography */
h1 {
    text-transform: lowercase;
    -webkit-text-stroke: 4px white;
}

h1 span {
    margin-left: 10px;
    -webkit-text-stroke: 6px white;
}

p {
    margin: 0 0 0.5em;
    padding: 0;
}

.wrapper {
    padding: 4em;
}

/* Header */
header {
    margin-bottom: 100px;
}

img {
    max-width: 200px;
}

/* Typewriter Effect */
.typewriter {
    font-family: "Fraktion", sans-serif;
    line-height: 2;
}

.cursor {
    margin: 0;
    display: inline-block;
    width: 30px;
    border-bottom: 4px solid rgba(0, 200, 20, .75);
}

/* Speech Bubbles */

.comments p {
    position: fixed;
    background-color: var(--green);
    padding: 28px;
    border-radius: 28px;
    display: inline-block;
    max-width: 500px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.comments p:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid var(--green);
    border-right: 12px solid transparent;
    border-top: 12px solid var(--green);
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }

.comments b {
    font-size: 1.25em;
    font-weight: 800;
    text-transform: uppercase;
}